<md-content flex-offset="10" flex="80" class="fondo">
	<center layout-padding>
		<h3><strong>Postulación</strong></h3>
		<div layout="row">
			<md-input-container  flex="30">
				<label>Codigo Asignatura</label>
				<input type="text">
			</md-input-container>
			<md-input-container  flex="70">
				<label>Asignatura</label>
				<input type="text">
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container  flex="30">
				<label>Semestre</label>
				<input type="text">
			</md-input-container>
			<md-input-container  flex="30">
				<label>Año</label>
				<input type="text">
			</md-input-container>
			<md-input-container  flex="15">
				<label>N° Horas</label>
				<input type="number">
			</md-input-container>
			<div layout-padding>
				<md-checkbox>
        	Remunerado
      	</md-checkbox>
			</div>
		</div>
		<div layout="row">
			<md-input-container  flex=50>
				<label>Departamento</label>
				<input type="text">
			</md-input-container>
			<md-input-container  flex="50">
				<label>Profesor</label>
				<input type="text">
			</md-input-container>
		</div>
		<div flex="50" layout="row">
			<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex>Postular</md-button>
		</div>
	</center>	
</md-content>