<md-content flex-offset="10" flex="80" class="fondo">
	<div layout-padding>
		<center><h3><strong>Registro</strong></h3></center>
		<div layout="column" flex="80" flex-offset="10">
			<div layout="column">
				<center>
					<img src="/assets/img/logo.png" class="logo2"></img>
				</center>
				<md-divider></md-divider>
				<br>
				<md-input-container  flex="70">
					<label>Nombres</label>
					<input type="text">
				</md-input-container>
				<div layout="row">
					<md-input-container  flex="50">
						<label>Apellido Paterno</label>
						<input type="text">
					</md-input-container>
					<md-input-container  flex="50">
						<label>Apellido Materno</label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  flex="50">
						<label>Rut</label>
						<input type="text">
					</md-input-container>
					<md-input-container  flex="50">
						<label>Matricula</label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  flex="50">
						<label>Correo Institucional</label>
						<input type="text">
					</md-input-container>
					<md-input-container  flex="30">
						<label>N° Telefono</label>
						<input type="text">
					</md-input-container>
					<md-input-container  flex="20">
						<label>Codigo Carrera</label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container  flex="50">
						<label>Contraseña</label>
						<input type="password">
					</md-input-container>
					<md-input-container  flex="50">
						<label>Repetir Contraseña</label>
						<input type="password">
					</md-input-container>
				</div>
				
			</div>
			<div layout=column>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex ui-sref="perfil">Registrame</md-button>
			</div>
		</div>
	</div>	
</md-content>