<div layout-padding>
  <div class="fond">
    <div layout="row" flex layout-align="center center">
      <h1>Perfil</h1>
    </div>
    <div layout-padding layout-align="center start" layout="row" layout-xs="column" layout-sm="column" layout-align-sm="center center" layout-align-xs="center center" layout-align-md="center center" layout-align-sm="center center">
      <div layout-padding>
        <img src="/assets/img/danie.png" class="imagen"></img>
        <div flex layout="row">
          <md-button style="width:100%">
            <md-icon md-svg-src="/assets/img/lapiz.svg"></md-icon>Editar
          </md-button>
        </div>
      </div>
      <div flex>
        <h2>Daniel Enoc Coronado Mendoza</h2>
        <p>Ing. Informatica</p>
        <p>Rut: 18.594.489-0</p>
        <p>N° Matrcula: 18594489015</p>
        <p>Código Carrera: 3086</p>
        <p>Nivel: Dios</p>
      </div>
      <div flex>
        <h2 class="textcolor">Contacto</h2>
        <p>Nro Celular: +56943543123</p>
        <p>Email: danielcoronado@hotmail.com</p>
      </div>
    </div>
    <div layout="row" flex layout-align="center center">
      <md-button>
        <md-icon md-svg-src="/assets/img/icon.svg"></md-icon>Editar
      </md-button>
    </div>
  </div>
</div>