<md-content flex-offset="10" flex="80" class="fondo">
	<center layout-padding>
		<h3><strong>Postulaciones</strong></h3>	
		<div layout="column" class="fondo" flex="80">
			<div layout="column">
				<h4>Daniel Coronado</h4>
				<md-divider></md-divider>
				<h5>Sistemas de Información</h5>
			</div>
			<div layout=row>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex>Firmar</md-button>
			</div>
		</div>
		<div layout="column" class="fondo" flex="80">
			<div layout="column">
				<h4>Matias Gutierrez</h4>
				<md-divider></md-divider>
				<h5>Programación</h5>
			</div>
			<div layout=row>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex>Firmar</md-button>
			</div>
		</div>
		<div layout="column" class="fondo" flex="80">
			<div layout="column">
				<h4>Felipe Acuña</h4>
				<md-divider></md-divider>
				<h5>Programación</h5>
			</div>
			<div layout=row>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex>Firmar</md-button>
			</div>
		</div>
		<div layout="column" class="fondo" flex="80">
			<div layout="column">
				<h4>Marcos Pinilla</h4>
				<md-divider></md-divider>
				<h5>Programación</h5>
			</div>
			<div layout=row>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex>Firmar</md-button>
			</div>
		</div>	
	</center>	
</md-content>