<div layout-padding>
  <div class="fond">
    <div>
      <div layout-padding layout-align="center start">
        <div flex flex-xs="90" flex-offset-xs="5" layout-align="center center">
          <h2>Formulario de Postulación</h2>
        </div>
      </div>
    </div>
    <div ng-cloak>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Alumno">
          <div class="md-padding">
            <formularioalu></formularioalu>
          </div>
        </md-tab>
        <md-tab label="Profesor">
          <div class="md-padding">
            <panelprofesor></panelprofesor>
          </div>
        </md-tab>
        <md-tab label="Documentos">
          <div class="md-padding">
          </div>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
