<md-content flex-offset="10" flex="80" class="fondo">
	<div layout-padding>
		<center><h3><strong>Inicia Sesión</strong></h3></center>
		<div layout="column" flex="70" flex-offset="15" layout-padding>
			<div layout="column">
				<center>
					<img src="/assets/img/logo.png" class="logo"></img>
				</center>
				<md-divider></md-divider>
				<br>
				<md-input-container  flex="70">
					<label>Correo Institucional</label>
					<input type="text">
				</md-input-container>
				<md-input-container  flex="70">
					<label>Contraseña</label>
					<input type="password">
				</md-input-container>
			</div>
			<div layout=column>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex ui-sref="perfil" ng-model="vm.variable" ng-click="vm.mod()">Iniciar Sesión</md-button>
				<md-divider></md-divider>
				<center>o</center>
				<md-button class="md-raised md-primary" md-colors="{background: 'Blue'}" flex ui-sref="registro">Registrate</md-button>
			</div>
		</div>
	</div>	
</md-content>