<div layout="row" style="height: 100%;">
  <md-sidenav flex="20"
    class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo" md-colors="{background: 'Blue-600'}">
      <div layout="row" layout-align="center center">
        <img src="/assets/img/user.png" class="imag"></img>
        <div layout-padding layout="column">
          <div>
            <h5>Daniel Coronado</h5>
          </div>
        </div>
      </div>
      <div layout-align="end center">
        <h6 class="info">Ing. Informatica</h6>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div flex layout="column">
        <div>
          <md-button style="width:100%" class="texto" ui-sref="perfil">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Perfil
          </md-button>
        </div>
        <div>
          <md-button style="width:100%"  class="texto">
            <md-icon md-svg-src="/assets/img/formulario.svg"></md-icon>Formulario
          </md-button>
        </div>
      </div>
      <div flex layout="column" class="separar">
        <div>
          <md-button style="width:100%" class="texto">
            <md-icon md-svg-src="/assets/img/pensar.svg"></md-icon>Estado Postulacion
          </md-button>
        </div>
      </div>
    </div> 
  </md-sidenav>
  <div layout="column" flex="80" flex-xs="100" flex-md="100" flex-sm="100">
    <md-toolbar class="md-hue-2 toolbar" md-colors="{background: 'Blue'}" layout="row"  style="height:50px">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon></md-icon>
        </md-button>
        <h2 flex md-truncate>TPS Ayudantes UFRO</h2>
      </div>
    </md-toolbar>
    <ui-view></ui-view>
  </div>
</div>

